{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'books/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'books/styles/book-details.css' %}">

</head>
<body>
    <header id="main-header">
        <nav><a href="/books" id="main-logo">Books</a></nav>
        <h1>book.name</h1>
    <main>
        <article>
            <img src="{{ book.coverImage }}" alt="">

            <section id="pages">
                <h2>Number of Pages</h2>
                <address>This book has <span>{{book.numPages}} pages.</span></address>
            </section>

            <section>
                <h2>What's This Book About?</h2>
                <p>{{ book.description }}</p>
                <footer>
                    <p>Need more details? Please <a href="">contact the admin</a> (but please don't spam us)</p>
                </footer>
            </section>

            <section id="registration">
                <h2>Join Us!</h2>
                FORM
            </section>
        </article>
    </main>
</body>
</html>